* {
  font-family: 'Sarabun', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;



}

html {
  width: 100vw;
  background-color: #F1F2F3;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

div.secction1 {
  padding: 0;
  padding-right: 0;
  padding-top: 1rem;
  height: 3rem;
  position: fixed;
  width: 100vw;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
}

.row p {
  position: absolute;
  margin-left: 2rem;

}
/* titulo*/
div.costumer_secction2 {

  width: 100%;
  display: inline-block;
  flex-wrap: nowrap;
}

div.icons {
  position: absolute;
  right: 10px;
  width: 5rem;
  padding: 0px;
}

div.costumer_secction2 h2 {
  width: 80%;
  font-size: 2.5rem;
  margin: 0;
}

div.secction2 {
  height: 5rem;
  margin-left: 1rem;
  margin-bottom: 0;
}

.secction2 label {
  font-size: medium;
  color: #A6AAB4;
}

div.secction2_div {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.perfil {
  position: absolute;
  display: flex;
  right: 20px;
  top: 70px;
}

button.btn {
  position: relative;
  right: 0;
  margin: 0;
  padding: 0;
  border: 5px solid #ECECFB;
  background-image: url(../img/perfil.jpg);
  border-radius: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
}

div.perfil span.notification {
  width: 20px;
  height: 20px;
  position: absolute;
  top: -8px;
  right: -8px;
  border: 4px solid #FFFFFF;
  background-color: #54D3AD;
  border-radius: 100%;
}

/*
menu tabs 
//no se pudo sobre escribir la clase tab de materialize, toco usas el important como ultima opcion porque no cambio de ninguna manera */
.secction3> div.row > div.col.s12 > ul.tabs{
  background-color: transparent;
  height: 3.6rem;
}
.secction3> div.row > div.col.s12 > ul.tabs > li.tab.col.s3{
  background-color: #fff;
  border-radius: 10px;
  width: 10vw;
  margin:0 2rem;

  
}
ul.tabs>li.tab>a.tab_menu {
  color: #A6AAB4 !important;
}

ul.tabs li.tab a.tab_menu:hover,
ul.tabs li.tab a.active {
  font-size: 1.2rem;
  border-radius: 10px;
  box-shadow: #3b414b9c 2px 2px 2px ;
  color: #3B414B !important;
}



.secction3> div.row > div.col.s12 > ul.tabs > li.indicator {
  display: flex;
  width: 33vw;
  height: 2px;
  background-color: #FF7D00;
}

div.inputs {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  justify-content: center;
  width: 95vw;
  margin-top: 2rem;
  text-align: center;
}

div.inputs label {
  width: 100%;
  font-size: x-large;
  text-align: start;
}

/*
credit cards 
*/

div.cards {
  position: relative;
  left: -10px;
  margin: 0;
  padding: 0;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: 15vh;
  display: flex;
  gap: 1rem;
}

.item {
  width: 100%;
}

div.item {
  height: 100%;
  width: 100%;
  padding: 1rem;
  align-content: center;
  opacity: 1;
  margin-left: 2rem;
  background-image: #3B414B;

}

div.addCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 20rem;
  border: 2px #D6D9E4 dashed;
  border-radius: 10%;
  color: #A6AAB4;

}
.addCard h5{
  font-size: 1rem;
  width: 100%;
  flex-wrap: nowrap;
}
/*

secction users*/

div.cardUsers {
  position: relative;
  width: 100%;
  height: 14rem;
  padding: 0;  
  display: flex;
  align-content: center;
  gap: 1rem;
  flex-wrap: nowrap;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}


button.cardUser {
  background-color: #F0F1F4;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
  border-radius: 10px;
  margin: 0 2rem;
}

button.cardUser h5 {
  font-weight: 600;
  color: #A6AAB4;
}

button.active {
  color: #FFFFFF;
  background-color: #613EEA ;
}

button.cardUser>img {
  width: 100px;
  height: 100px;
  border-radius: 100%;

}
/*secction trnsactions */
div.transaction{
  height: 40vh;
  display: flex;
  padding: 0 1rem;
  margin-top: 2rem;
  width: 100%;
  text-align: center;
}
div.transaction label{
  display: inline-block;
  width: 100%;
} 

section.row label.card_credit{
  text-align: start;
  font-size: x-large;
  margin-bottom: 1rem;
}

section.row input {
  padding: 1rem;
  border:none;
  font-size: large;
  width: 90%;
  height: 3rem;
  border-radius: 10px;

}


section.row input.amount{
  width: 70%;
}

.lb_trasn{
  background-color: #FFFFFF;
  margin: 1rem 0;
  border-radius: 10px;
}

section.row button{
  margin-top: 2rem;
  padding: 0.5rem 0;
  width: 90%;
  background-color: #613EEA;
  color: #FFFFFF;
  font-size: x-large;
  border: none;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #553eadcc;
}
/*footer*/

div.secction4 {
  z-index: 100;
  position: fixed;
  bottom: -1.4rem;
  width: 100vw;
  padding: 0;

}

ul.tab_footer {
  padding: 0;
  display: flex;
  position: relative;
  width: 100vw;
  justify-content: space-evenly;
  height: 4rem;
  background-color: #FFFFFF;
  margin: 0;
  padding-bottom: 2rem;
  overflow: visible;
  color: #A6AAB4;  
  border-radius: 10px;

}

ul.tab_footer>li.col {
  margin: 0 !important;
}

ul.tab_footer>li>a {
  width: 3rem;
  height: 100%;
}

ul.tab_footer>li>a>i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #A6AAB4;
  border-radius: 100%;

  height: 4rem;
  width: 4rem;
  font-size: 3rem;

}

ul.tab_footer>li>a>i.send {
  position: relative;
  background-color: #613EEA;
  color: #FFFFFF;
  border-radius: 100%;
  top: -30px;

}

ul.tab_footer>li>a>i:hover {
  height: 4rem;
  width: 4rem;
  border-radius: 100%;
  color: #603eeab9;
  transform: translateY(-10px);
}